<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @under_secretary.name %>
</p>

<%= link_to 'Edit', edit_under_secretary_path(@under_secretary) %> |
<%= link_to 'Back', under_secretaries_path %>
