<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section_officer.name %>
</p>

<%= link_to 'Edit', edit_section_officer_path(@section_officer) %> |
<%= link_to 'Back', section_officers_path %>
